[Unit]
Description=bettercap api.rest service.
Documentation=https://bettercap.org
After=system-udevd.service
Wants=network.target systemd-udevd.service

[Service]
Type=simple
PermissionsStartOnly=true
ExecStart=/usr/bin/bettercap-launcher
Restart=always
RestartSec=8

[Install]
WantedBy=multi-user.target
